{% extends 'products/base.html' %}
{% block content %}
    <div class="profile-form-container" style="min-height: 76vh;">
        <div class="text-center text-normal">
            {{ error_message }}
        </div>
    </div>
    <style>
        .footer {
            margin-top: 0px;
        }
        
        a {
            color: #000000;
        }
        
        .header-logo__white {
        display: none;
        width: 100%;
        }
        
        .header-logo__black {
        width: 100%;
        display: block;
        }
    </style>
{% endblock content %}
