{% load static %}

<!DOCTYPE html>
<html dir="ltr" lang="ru-RU" class="h-100">
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<meta name="author" content="https://konversia.pro">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="keywords" content="kallishevich">
	<meta name="description" content="kallishevich">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
    <link rel="mask-icon" href="{% static 'images/favicon/safari-pinned-tab.svg' %}" color="#272727">
    <link rel="shortcut icon" href="{% static 'images/favicon/favicon.ico' %}">
    <meta name="msapplication-TileColor" content="#272727">
    <meta name="msapplication-config" content="/view/image/favicon/browserconfig.xml">


	<meta property="og:locale" content="ru_RU">
	<meta property="og:type" content="article">
	<meta property="og:title" content="kallishevich">
	<meta property="og:description" content="kallishevich">
	<meta property="og:url" content="https://schoolgosh.com/">

	<meta property="og:image" content="https://schoolgosh.com/view/image/og_image.png">
	<link rel="image_src" href="{% static 'images/og_image.png' %}">

	<meta property="og:image:width" content="968">
	<meta property="og:image:height" content="504">


	<link rel="stylesheet" href="{% static 'fonts/HelveticaNeueCyr/stylesheet.css' %}"/>
	<link rel="stylesheet" href="{% static 'fonts/font-awesome-5/css/all.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/reset.css' %}"/>
    <link rel="stylesheet" href="{% static 'js/magnific-popup.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap-indention.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/radiocheckbox.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    {% block extra %} {% endblock %}
</head>


<body>
    {% block header %}
    <header class="header">
    <div class="header-flex container">
        <div class="header-logo">
            <a href="{% url 'products:index' %}">
                <img class="header-logo__black" src="{% static 'images/logo-black.svg' %}" alt="Логотип">
                <img class="header-logo__white" src="{% static 'images/logo-white.svg' %}" alt="Логотип">
            </a>
        </div>

        <div class="header-menu">
            <a href="{% url 'products:category_detail' 'wardrobe' %}" class="header-menu__link">Разбор гардероба</a>
            <a href="{% url 'products:category_detail' 'shopping' %}" class="header-menu__link">Шоппинг сопровождение</a>
            <a href="{% url 'products:category_detail' 'consultation' %}" class="header-menu__link">Консультация</a>
            <a href="{% url 'users:reviews' %}" class="header-menu__link">Отзывы</a>
        </div>

        <div class="header-contacts">
            <a href="mailto:sokolovamariia55@gmail.com" class="header-contacts__mail">sokolovamariia55@gmail.com</a>
            <a target="blank" href="https://t.me/kallishevich" class="header-contacts__telegram button-head-icon-black"></a>
            <a target="blank" href="https://wa.me/+4207329407588" class="header-contacts__whatsapp button-head-icon-black"></a>
            {% if user.is_authenticated %}
                <a href="{% url 'users:profile' %}" class="header-contacts__lk button-head-icon-white" id="button-lk-out-lk" title=""></a>
            {% else %}
                <a href="{% url 'users:login' %}" class="header-contacts__lk button-head-icon-white" id="button-lk-out-lk" title=""></a>
            {% endif %}
            <div class="header-contacts__burger button-head-icon-white" id="button-header"></div>
        </div>
    </div>
    </header>
    {% endblock %}

    {% block content %} {% endblock %}

    <footer class="footer ">
        <div class="footer-flex container">
            <div class="footer-column">
                <div class="footer__logo" id="insert-footer__logo">
                    <img src="{% static 'images/logo-white.svg' %}" alt="Логотип">
                </div>
                <div class="footer__copyright" id="insert-footer__copyright1">
                    © 2024 Kallishevich. Все права защищены
                </div>
                <div class="footer__copyright" id="insert-footer__copyright2">
                    Разработка сайта — Varosick
                </div>
                <div class="footer-social" id="insert-footer-social">
                    <a target="_blank" rel="nofollow" href="https://instagram.com/kallishevich"
                       class="footer-social__instagram button-icon-black"></a>
                    <a target="_blank" rel="nofollow" href="https://t.me/+x2itBwTJ_e0zZTZi"
                       class="footer-social__youtube button-icon-black"></a>
                    <a target="_blank" rel="nofollow" href="https://www.tiktok.com/@kallishevich?_t=8qPD2A7j7TT&_r=1" class="footer-social__tiktok button-icon-black"></a>
                </div>
            </div>

            <div class="footer-column" id="insert-footer__links">
                <a href="{% url 'users:login' %}" class="footer__title">Вход</a>
                <a href="{% url 'users:registration' %}" class="footer__title">Регистрация</a>
            </div>

            <div class="footer-column" id="insert-politics">
                <a href="{% url 'products:index' %}#services" class="footer__title">Услуги</a>
                <a href="{% url 'products:index' %}#guides" class="footer__title">Гайды</a>
            </div>

            <div class="footer-column">
                <a class="footer__title" href="{% url 'products:index' %}#about_me">Обо мне</a>
                <a class="footer__title-under" href="mailto:sokolovamariia55@gmail.com">sokolovamariia55@gmail.com</a>
            </div>

            <div class="footer-column">
                <div class="footer__button-up button-icon-black" id="footer__button-up"></div>
            </div>
        </div>

        <div class="footer-flex-planshet container">
            <div class="footer-flex-planshet-top">
                <div class="footer__logo" id="insert-footer__logo">
                    <img src="{% static 'images/logo-white.svg' %}" alt="Логотип">
                </div>
                <div class="footer-social" id="insert-footer-social">
                    <a target="_blank" rel="nofollow" href="https://instagram.com/kallishevich"
                       class="footer-social__instagram button-icon-black"></a>
                    <a target="_blank" rel="nofollow" href="https://t.me/+x2itBwTJ_e0zZTZi"
                       class="footer-social__youtube button-icon-black"></a>
                    <a target="_blank" rel="nofollow" href="https://www.tiktok.com/@kallishevich?_t=8qPD2A7j7TT&_r=1" class="footer-social__tiktok button-icon-black"></a>
                </div>
            </div>
            <a href="{% url 'products:index' %}#services" class="header-menu__link">Услуги</a>
            <a href="{% url 'products:index' %}#guides" class="header-menu__link">Гайды</a>
            <a href="{% url 'products:index' %}#about_me" class="header-menu__link">Обо мне</a>

            <a href="{% url 'users:login' %}" class="header-menu__link ">Вход</a>
            <a href="{% url 'users:registration' %}" class="header-menu__link">Регистрация</a>
            <a href="#" class="header-menu__link">Восстановление пароля</a>

            <div class="footer-flex-planshet-bottom">
                <div class="footer-flex-planshet-bottom-left">
                    <div class="footer__copyright" id="insert-footer__copyright1">
                        © 2024 Kallishevich. Все права защищены
                    </div>
                    <div class="footer__copyright" id="insert-footer__copyright2">
                        Разработка сайта — Varosick
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-flex-mobile container">
            <div class="footer__logo" id="insert-footer__logo">
                <img src="{% static 'images/logo-white.svg' %}" alt="Логотип">
            </div>
            <a href="{% url 'products:index' %}#services" class="header-menu__link">Услуги</a>
            <a href="{% url 'products:index' %}#guides" class="header-menu__link">Гайды</a>
            <a href="{% url 'products:index' %}#about_me" class="header-menu__link">Обо мне</a>

            <a href="{% url 'users:login' %}" class="header-menu__link ">Вход</a>
            <a href="{% url 'users:registration' %}" class="header-menu__link">Регистрация</a>
            <a href="#" class="header-menu__link">Восстановление пароля</a>
            <div class="footer-social" id="insert-footer-social">
                <a target="_blank" rel="nofollow" href="https://instagram.com/kallishevich"
                   class="footer-social__instagram button-icon-black"></a>
                <a target="_blank" rel="nofollow" href="https://t.me/+x2itBwTJ_e0zZTZi"
                   class="footer-social__youtube button-icon-black"></a>
                <a target="_blank" rel="nofollow" href="https://www.tiktok.com/@kallishevich?_t=8qPD2A7j7TT&_r=1" class="footer-social__tiktok button-icon-black"></a>
            </div>
            <div class="footer__copyright" id="insert-footer__copyright1">
                © 2024 Kallishevich. Все права защищены
            </div>
            <div class="footer__copyright" id="insert-footer__copyright2">
                Разработка сайта — Varosick
            </div>
            <div class="footer-column" id="insert-politics">
            </div>
        </div>
    </footer>
    
    <div class="modal-menu container">
        <div class="modal-menu-block">
            <div class="modal-menu-flex">
                <div class="modal-menu__logo">
                    <img src="{% static 'images/logo-white.svg' %}" alt="">
                </div>
                <div class="modal-menu-right">
                    {% if user.is_authenticated %}
                        <a href="{% url 'users:profile' %}" class="modal-menu__mobile-icon button-icon-white"></a>
                    {% else %}
                        <a href="{% url 'users:login' %}" class="modal-menu__mobile-icon button-icon-white"></a>
                    {% endif %}
                    <div class="modal-menu__close button-icon-white"></div>
                </div>
            </div>
            <div class="modal-menu__links"></div>
            <div class="modal-menu-contacts">
                <div class="modal-menu-social">
                    <a href="https://t.me/kallishevich" class="modal-menu__telegram button-head-icon-white"></a>
                    <a href="https://wa.me/+420732940588" class="modal-menu__whatsapp button-head-icon-white"></a>
                </div>
                <a href="mailto:sokolovamariia55@gmail.com" class="modal-menu__mail">sokolovamariia55@gmail.com</a>
            </div>
        </div>
    </div>


	<script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/script.js' %}" defer=""></script>
	<script src="{% static 'js/site.js' %}"></script>

</body>
</html>