{% extends 'profile/base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
		<div class="profile-form-container">
            <div class="profile-form-inner">
                <form method="post">
                    {% csrf_token %}
                    <p class="profile-form__title">Восстановление пароля</p>
                    {% for field in form %}
                    <div class="modal-recovery__input">
                        {{ field }}
                    </div>
                    {% endfor %}
                    <div class="modal-recovery__button">
                        <button type="submit" class="button-text-black">Подтвердить новый пароль</button>
                    </div>
                </form>
                <div class="profile-form__footer">
                    Нет аккаунта? <a href="{% url 'users:registration' %}">Зарегистрируйтесь</a><br>
                    У вас уже есть аккаунт? <a href="{% url 'users:login' %}">Войти</a>
                </div>
            </div>
	    </div>
{% endblock %}