.checkbox-label, .checkbox-label *, 
.radio-label *, .radio-label {
	box-sizing: border-box;
}

/* Customize the label (the checkbox-label) */
.checkbox-label,
.radio-label {
	display: block;
	position: relative;
	padding-left: 44px !important;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-label input,
.radio-label input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkbox-label .checkmark,
.radio-label .checkmark {
	position: absolute;
	top: 8px;
	left: 0;
	height: 24px;
	width: 24px;
	background-color: #fff;	
    border: 1px solid #272727;
	transition: all 0.2s;
	opacity: 0.5;
}

.radio-label .checkmark {
	border-radius: 50px;
}
.checkbox-label .label-text,
.radio-label .label-text {
	opacity: 0.5;
	transition: all 0.2s;
}

/* On mouse-over, add a grey background color */
.checkbox-label:hover input ~ .checkmark,
.radio-label:hover input ~ .checkmark {
	background-color: #272727;
}

/* When the checkbox is checked, add a blue background */
.checkbox-label input:checked ~ .checkmark,
.radio-label input:checked ~ .checkmark {
	background-color: #272727;
	border-color: #272727;
	opacity: 1;
}
.checkbox-label input:checked ~ .label-text,
.radio-label input:checked ~ .label-text {
	opacity: 1;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-label .checkmark:after,
.radio-label .checkmark:after {
	content: "";
	position: absolute;
	/* display: none; */
}

.checkbox-label:hover input ~ .checkmark:after,
.radio-label:hover input ~ .checkmark:after {
	border-color: #fff;
}

/* Show the checkmark when checked */
.checkbox-label input:checked ~ .checkmark:after,
.radio-label input:checked ~ .checkmark:after {
	display: block;
	border-color: #fff;
}

/* Style the checkmark/indicator */
.checkbox-label .checkmark:after,
.radio-label .checkmark:after {
    left: 8px;
    top: 5px;
    width: 6px;
    height: 10px;
	border: solid transparent;
	border-width: 0px 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	transition: all 0.2s;
}

